.col-md-4 {
  border: 2px solid deepskyblue;
  border-radius: 5px;
  margin-top: 20px;
}

p {
  margin: 0;
  color: #337ab7;
}
.border_row {
  width: 90%;
  margin: 10px 0;
  .title {
    width: 100%;
    margin: 0 auto;
  }
}
p::first-letter {
  text-transform: uppercase;
}